<%= form_for([@project, @grade]) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :project_id %>
  </div>
    <div class="field">
      <%= f.hidden_field :grader_id, value: current_grader.id %>
    </div>

    <% if current_grader.technical_expert? %>
        <%= f.hidden_field :technical, value: true %>

        <div class="field">
        <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_1']}: " %>
        <%= f.select :tech_criteria_1, [0, 1] %>
        </div>
        <div class="field">
        <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_2']}: " %>
          <%= f.select :tech_criteria_2, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_3']}: " %>
          <%= f.select :tech_criteria_3, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_4']}: " %>
          <%= f.select :tech_criteria_4, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_5']}: " %>
          <%= f.select :tech_criteria_5, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_6']}: " %>
          <%= f.select :tech_criteria_6, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_7']}: " %>
          <%= f.select :tech_criteria_7, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_8']}: " %>
          <%= f.select :tech_criteria_8, [0, 1] %>
        </div>
        <br>
        <h4>Errors</h4>
        <p>The primary measure for technology performance used in this feedback is the technological errors. We differentiate three types of errors: Major errors that prevent the application to work properly, moderate errors that impede the application to be fully functional, and minor errors are rather 'cosmetic'.</p>
        <br>
        <div class="field">
          <%= f.label :major_errors %>
          <%= f.select :major_errors, (0..10) %>
        </div>
        <div class="field">
          <%= f.label :moderate_errors %>
          <%= f.select :moderate_errors, (0..10) %>
        </div>
        <div class="field">
          <%= f.label :minor_errors %>
          <%= f.select :minor_errors, (0..10) %>
        </div>
        <% if params[:action] == 'new' %>
            <div class="field">
              <%= f.label :phase %><br>
              <%= f.select :phase, ["1st Phase", "2nd Phase", "3rd Phase", "Final Phase"] %>
            </div>
        <% end %>

        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

    <% if current_grader.user_interface_expert? && @grade.novelty_fields_present? %>
        <%= f.hidden_field :usability, value: true %>
        <h3> User Experience </h3>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_1']}: " %>
          <%= f.select :non_tech_criteria_1, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_2']}: " %>
          <%= f.select :non_tech_criteria_2, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_3']}: " %>
          <%= f.select :non_tech_criteria_3, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_4']}: " %>
          <%= f.select :non_tech_criteria_4, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_5']}: " %>
          <%= f.select :non_tech_criteria_5, [0, 1] %>
        </div>
        <h3> Info Visualization </h3>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_6']}: " %>
          <%= f.select :non_tech_criteria_6, (0..3) %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_7']}: " %>
          <%= f.select :non_tech_criteria_7, (0..3) %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_8']}: " %>
          <%= f.select :non_tech_criteria_8, (0..3) %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_9']}: " %>
          <%= f.select :non_tech_criteria_9, (0..3) %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_10']}: " %>
          <%= f.select :non_tech_criteria_10, (0..3) %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_11']}: " %>
          <%= f.select :non_tech_criteria_11, (0..3), { include_blank: true } %>
        </div>

        <h3> Novelty Scores </h3>
        <% if @grade.novelty_1_text.present? %>
            <div class="field">
              <p><strong><%= @grade.novelty_1_text %></strong></p>
              <br>
              <%= f.label "Relevance to the problem: " %>
              <%= f.select :novelty_1_score, [nil, 0, 1, 2, 3] %>
              <%= f.label "Design: " %>
              <%= f.select :novelty_1_design_score, [nil, 0, 1, 2, 3] %>
              <%= f.label "Functionality: " %>
              <%= f.select :novelty_1_functionality_score, [nil, 0, 1, 2, 3] %>
            </div>
        <% end %>

        <% if @grade.novelty_2_text.present? %>
            <div class="field">
              <p><strong><%= @grade.novelty_2_text %></strong></p>
              <br>
              <%= f.label "Relevance to the problem: " %>
              <%= f.select :novelty_2_score, [nil, 0, 1, 2, 3] %>
              <%= f.label "Design: " %>
              <%= f.select :novelty_2_design_score, [nil, 0, 1, 2, 3] %>
              <%= f.label "Functionality: " %>
              <%= f.select :novelty_2_functionality_score, [nil, 0, 1, 2, 3] %>
            </div>
        <% end %>

        <% if @grade.novelty_3_text.present? %>
            <div class="field">
              <p><strong><%= @grade.novelty_3_text %></strong></p>
              <br>
              <%= f.label "Relevance to the problem: " %>
              <%= f.select :novelty_3_score, [nil, 0, 1, 2, 3] %>
              <%= f.label "Design: " %>
              <%= f.select :novelty_3_design_score, [nil, 0, 1, 2, 3] %>
              <%= f.label "Functionality: " %>
              <%= f.select :novelty_3_functionality_score, [nil, 0, 1, 2, 3] %>
            </div>
        <% end %>
        <% if params[:action] == 'new' %>
            <div class="field">
              <%= f.label :phase %><br>
              <%= f.select :phase, ["1st Phase", "2nd Phase", "3rd Phase", "Final Phase"] %>
            </div>
        <% end %>

        <div class="actions">
          <%= f.submit %>
        </div>
    <% elsif current_grader.user_interface_expert? %>
        <h5> Not available to grade yet! </h5>
    <% end %>
<% end %>
