<%= form_for([@project, @grade]) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :project_id %>
  </div>
    <div class="field">
      <%= f.hidden_field :grader_id, value: current_grader.id %>
    </div>

    <% if current_grader.technical_expert? %>
        <%= f.hidden_field :technical, value: true %>

        <div class="field">
        <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_1']}: " %>
        <%= f.select :tech_criteria_1, [0, 1] %>
        </div>
        <div class="field">
        <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_2']}: " %>
          <%= f.select :tech_criteria_2, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_3']}: " %>
          <%= f.select :tech_criteria_3, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_4']}: " %>
          <%= f.select :tech_criteria_4, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_5']}: " %>
          <%= f.select :tech_criteria_5, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_6']}: " %>
          <%= f.select :tech_criteria_6, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_7']}: " %>
          <%= f.select :tech_criteria_7, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_8']}: " %>
          <%= f.select :tech_criteria_8, [0, 1] %>
        </div>
    <% end %>

    <% if current_grader.user_interface_expert? %>
        <%= f.hidden_field :usability, value: true %>
        <h3> User Experience </h3>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_1']}: " %>
          <%= f.select :non_tech_criteria_1, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_2']}: " %>
          <%= f.select :non_tech_criteria_2, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_3']}: " %>
          <%= f.select :non_tech_criteria_3, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_4']}: " %>
          <%= f.select :non_tech_criteria_4, [0, 1] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_5']}: " %>
          <%= f.select :non_tech_criteria_5, [0, 1] %>
        </div>
        <h3> Info Visualization </h3>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_6']}: " %>
          <%= f.select :non_tech_criteria_6, [0, 1, 2, 3] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_7']}: " %>
          <%= f.select :non_tech_criteria_7,[0, 1, 2, 3] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_8']}: " %>
          <%= f.select :non_tech_criteria_8, [0, 1, 2, 3] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_9']}: " %>
          <%= f.select :non_tech_criteria_9, [0, 1, 2, 3] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_10']}: " %>
          <%= f.select :non_tech_criteria_10, [0, 1, 2, 3] %>
        </div>
        <div class="field">
          <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_11']}: " %>
          <%= f.select :non_tech_criteria_11, [0, 1, 2, 3] %>
        </div>
    <% end %>

    <% if params[:action] == 'new' %>
        <div class="field">
          <%= f.label :phase %><br>
          <%= f.select :phase, ["1st Phase", "2nd Phase", "3rd Phase", "Final Phase"] %>
        </div>
    <% end %>

      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
