<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Project</th>
      <th colspan="3">Student</th>
      <th colspan="3">Grader Name</th>
      <th colspan="3">Grader Email</th>
      <th colspan="3">Usability score</th>
      <th colspan="3">Technical score</th>
      <th colspan="3">Phase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td colspan="3"><%= link_to grade.project.name, project_path(@project)%></td>
        <td colspan="3"><%= grade.project.student.name %></td>
        <td colspan="3"><%= grade.grader.try(:name) %></td>
        <td colspan="3"><%= grade.grader.try(:email) %></td>
        <% if grade.technical_grade? %>
            <td colspan="3"> - - - </td>
            <td colspan="3"><%= number_with_precision(grade.total_technical_score, :precision => 2) %></td>
        <% end %>
        <% if grade.usability_grade? %>
            <td colspan="3"><%= number_with_precision(grade.total_usability_score, :precision => 2) %></td>
            <td colspan="3"> - - - </td>
        <% end %>

        <td colspan="3"><%= grade.phase %></td>
        <td colspan="3"><%= link_to 'Show', project_grade_path(@project, grade) %></td>
        <% if Grade.where(project_id: @project.id, grader_id: current_grader.id).include? grade %>
            <td colspan="3"><%= link_to 'Edit', edit_project_grade_path(@project, grade) %></td>
            <td colspan="3"><%= link_to 'Destroy', [@project, grade], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Submit New Grade', new_project_grade_path(@project) %>
