<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Project</th>
      <th colspan="3">Student</th>
      <th colspan="3">Grader Name</th>
      <th colspan="3">Grader Email</th>
      <th colspan="3">Usability score</th>
      <th colspan="3">Technical score</th>
      <th colspan="3">Phase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td colspan="3"><%= grade.project.name %></td>
        <td colspan="3"><%= grade.project.student.name %></td>
        <td colspan="3"><%= grade.grader.try(:name) %></td>
        <td colspan="3"><%= grade.grader.try(:email) %></td>
        <td colspan="3"><%= grade.usability_score %></td>
        <td colspan="3"><%= grade.technical_score %></td>
        <td colspan="3"><%= grade.phase %></td>
        <td colspan="3"><%= link_to 'Show', project_grade_path(@project, grade) %></td>
        <% if Grade.where(project_id: @project.id, grader_id: current_grader.id).include? grade %>
            <td colspan="3"><%= link_to 'Edit', edit_project_grade_path(@project, grade) %></td>
            <td colspan="3"><%= link_to 'Destroy', [@project, grade], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% grade = Grade.where(project_id: @project.id, grader_id: current_grader.id).first %>
<% if grade %>
    <%= link_to 'Grade This Project', edit_project_grade_path(@project, grade) %> |
<% end %>

<%= link_to 'View Project', project_path(@project) %>
