<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @grade.project.name %>
</p>

<p>
  <strong>Project Student:</strong>
  <%= @grade.project.student.name %>
</p>

<p>
  <strong>Grader:</strong>
  <%= @grade.grader.try(:name) %>
</p>

<p>
  <strong>Grader Expertise:</strong>
  <%= @grade.grader.try(:grader_type) %>
</p>

<p>
  <strong>Grader Email:</strong>
  <%= @grade.grader.try(:email) %>
</p>

<% if @grade.technical_grade? %>
    <p>
      <strong>Technical Score:</strong>
      <%= number_with_precision(@grade.total_technical_score, :precision => 2) %>
    </p>
<% end %>

<% if @grade.usability_grade? %>
    <p>
      <strong>User Experience Score</strong>
      <%= number_with_precision(@grade.total_user_experience_score, :precision => 2) %>
    </p>
    <p>
      <strong>Info Visualization Score</strong>
      <%= number_with_precision(@grade.total_info_visualization_score, :precision => 2) %>
    </p>
<% end %>

<p>
  <strong>Phase:</strong>
  <%= @grade.phase %>
</p>

<% if Grade.where(project_id: @project.id, grader_id: current_grader.id).include? @grade %>
    <%= link_to 'Edit Grade', edit_project_grade_path(@project, @grade) %> |
<% end %>

<%= link_to 'Back', project_grades_path(@project) %> |
<%= link_to 'View Project', project_path(@project) %>
