<p id="notice"><%= notice %></p>

<h1>Listing Graders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Grader type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graders.each do |grader| %>
      <tr>
        <td><%= link_to grader.name, grader   %></td>
        <td><%= grader.email %></td>
        <td><%= grader.grader_type %></td>

        <% if current_grader == grader %>
            <td><%= link_to 'Edit', edit_grader_path(grader) %></td>
            <td><%= link_to 'Destroy', grader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Projects', projects_path %>
