<p id="notice"><%= notice %></p>

<div> Name: <%= @project.name %> </div>
<div> Web URL: <%= @project.web_url %> </div>
<div> Owner/Student: <%= @project.student.name %> </div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
