<!DOCTYPE html>
<html>
<head>
  <title>GradingSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div id="user_nav">
    <% if grader_signed_in? %>
        Signed in as <%= current_grader.email %>. Not you?
        <%= link_to "Sign out", destroy_grader_session_path, method: :delete %>
    <% else %>
        <%= link_to "Sign up", new_grader_registration_path %> or
        <%= link_to "Sign in", new_grader_session_path %>
    <% end %>
  </div>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
